<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Inventory</h1>
    <h2><%=categoryName%></h2>
    <%if(items.rows.length>0){%>
        <ul>
            <%items.rows.forEach(item=>{%>
                <li style="list-style: none;">
                    <a href="/items/<%=item.id%>?category=<%=categoryName%>"><%=item.name%></a>
                </li>
            <%})%>
        </ul>
    <%}else{%>
        <p>No items in category</p>
    <%}%>
  </body>
</html>
