<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Category</title>
  </head>
  <body>
    <h1>Edit <%=category.name%> Category</h1>
    <form method="post" action="/category/editCategory/<%=categoryId%>">
      <label
        >Name:
        <input
          required
          min="1"
          value="<%=category.name%>"
          name="newCategoryName"
        />
        <button>Update</button>
      </label>
    </form>
  </body>
</html>
