<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Inventory</h1>
    <button>Homepage</button>
    <h2><%=item.rows[0].name%>:</h2>
    <label
      >Quantity
      <input value="<%=item.rows[0].quantity%>" />
    </label>
    <label
      >Price
      <input value="<%=item.rows[0].price%>" />
    </label>
    <button>Update</button>
    <button
      style="background-color: red; display: block; margin-top: 1%"
      onclick="deleteItem('<%=item.rows[0].name%>', false)"
    >
      DELETE ITEM
    </button>

    <script src="../js/main.js"></script>
  </body>
</html>
